body{
    padding: 0px;
    margin: 0;
}
#map {
    height: 100vh; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
    overflow: hidden;
}
.info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-div p {
    color:white;
    font-size: 0.9rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 10px;
}

#interface {
    display: flex;
    background-color: rgba(15, 71, 255, 0.233);
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

#nav-left, #nav-right {
    font-size: 2rem;
    margin: 10px;
}