* p {
    font-size: 16px;
}

body{
    padding: 0px;
    margin: 0;
}

/*using full height and width of page*/
#map {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-div p {
    color:white;
    font-size: 0.9rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 10px;
}

#interface {
    display: flex;
    background-color: rgba(15, 71, 255, 0.233);
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

#nav-left, #nav-right {
    font-size: 2rem;
    margin: 10px;
}

.window-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.window-container h2 {
    margin: 0 auto;
}

.window-container h4 {
    margin: 0 auto;
    font-size: 1rem;
}

.window-container button {
    margin: 10px 10px 0 0;
}

#area-details-container {
    font-size: 1rem;
}

#area-cities {
    display: flex;
    flex-direction: column;
}

#data-control-container {
    display: flex;
}

[id^='city']{
    margin: 10px 10px 0 0;
    text-decoration: underline;
    font-weight: bold;
}

[id^='city']:hover {
    color: rgb(109, 109, 109);
}

[id^='city']:active {
    color: forestgreen;
}

/* toggle swithc style creation */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #b121f3bd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b121f3bd;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}